<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title> 
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
<link rel="shortcut icon" href="/images/icon.ico"></link>
<script src="https://kit.fontawesome.com/306152c8ba.js"
	crossorigin="anonymous"></script>
<script defer th:src="@{/js/index.js}"></script>
</head>

<style>
    body{
        background-image: url("/images/background.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-attachment: fixed;
    }
</style>

<body>
		<header class="header">
			<nav class="nav">
				<img class="logo" th:src="@{/images/Logo.jpg}" align="top"></img>
				<button class="nav-toggle">
					<i class="fa-solid fa-bars"></i>
				</button>
				<ul class="nav-menu">
					<li class="nav-menu-item"><a href="nosotros"
						class="nav-menu-link nav-link">Nosotros</a></li>
					<li class="nav-menu-item"><a href="productos"
						class="nav-menu-link nav-link nav-menu-link_active">Productos</a></li>
					<li class="nav-menu-item"><a href="sostenibilidad"
						class="nav-menu-link nav-link">Sostenibilidad</a></li>
					<li class="nav-menu-item"><a href="contacto"
						class="nav-menu-link nav-link">Contacto</a></li>
					<li class="nav-menu-item"><a href="intranet"
						class="nav-menu-link nav-link">PacificWeb</a></li>
				</ul>
			</nav>
		</header>

		<br><br><br><br>
		
		
		<div th:object="${pedido}" th:remove="tag">
	<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
		<li th:each="err: ${#fields.errors('*')}" th:text="${err}">
		</li>
	</ul>
       </div>
		<form class="product" th:action="@{/datos}" th:object="${pedido}" method="post">
            <h1 align="center" class="h1" th:text="${titulo}"></h1> 
            <input type="hidden" th:field="*{id}" />            
            <label>RUC: </label><br> <input class="controls" type="text" th:name="ruc" th:field="*{ruc}" th:errorclass="alert-danger"></input>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('ruc')}" 
                th:errors="{ruc}"></small>
            <br>
            <br>
            <label>Empresa: </label><br> <input class="controls" type="text" th:name="empresa" th:field="*{empresa}"></input> <br>
            <br>
            <label>Tipo de Producto: </label><br> <input class="controls" type="text" th:name="tipoProd" th:field="*{tipoProd}" placeholder="Harina de Pescado / Aceite de Pescado / Congelados"></input> <br>
            <br>
            <label>Lugar de Recojo: </label><br> <input class="controls" type="text" th:name="lugar" th:field="*{lugar}"></input> <br>
            <br> 
            <label>Fecha de Entrega: </label><br> <input class="controls" type="date" th:name="fechaEntrega" th:field="*{fechaEntrega}"></input>  
            <br> <br> 
            <label>Hora de Entrega: </label><br> <input class="controls" type="time" th:name="hora" th:field="*{hora}"></input> <br> 
            <br> <br> 


            <input class="product_btn" type="submit" value="Crear Pedidos"/>

        </form> 
	
</body>
	
<!-- Footer -->
	<br><br><br><br>
	<footer>
		<div class="container__footer">
			<div class="box__footer">
				<div class="logo">
					<img th:src="@{/images/logo.jpg}" alt="">
				</div>
				<!--  
				<div class="terms">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Tenetur quam illum earum ut! Itaque sit neque quas dolor quasi
						facilis quod impedit error, consectetur et ad blanditiis minima
						reiciendis voluptate! Neque hic placeat consectetur iure. Vel
						possimus rem quia! Voluptas dolorem alias quas veniam nemo,
						dolores tempora voluptates explicabo? Magnam eveniet qui commodi
						provident vero fugiat hic aliquam tempore voluptatum.</p>
				</div> 
				-->
			</div>
			
			<div class="box__footer">
				<h2>Información</h2>
				<a>Dirección: Manuel Lecca Nro. 270</a> <a>Distrito: Chorrillos</a>
				<a>Departamento: Lima, Perú</a> <a>Teléfono: (043)294450</a>
			</div>

			<div class="box__footer">
				<h2>PanaFoods</h2>
				<a href="#">Nosotros</a> <a href="#">Productos</a> <a href="#">Sostenibilidad</a>
				<a href="#">Contacto</a> <a href="#">PacificWeb</a>
			</div>

			<div class="box__footer">
				<h2>Desarrolladores</h2>

				<a><i class="fa-brands fa-dev"> </i> Araujo V. Matias Nicolas</a> 
				<a><i class="fa-solid fa-code"> </i> Angulo U. Sebastian Cesar</a> 
				<a><i class="fa-solid fa-laptop-code"> </i>Ramirez U. Jorge Pedro </a> 
				<a><i class="fa-solid fa-terminal"> </i> Asin R. Nadin Misael </a>
				<a><i class="fa-brands fa-dev"> </i> Ortiz Y. Eduardo</a> 
			</div>
		</div>
		<div class="box__copyright">
			<hr>
			<p> Todos los derechos reservados © 2022 <b>PACIFIC NATURAL FOODS.A.C.</b> </p>
		</div>
	</footer>
</body>
</html>